In [1]:
import pandas as pd

### Connection to SQL Database

In [2]:
from sqlalchemy import create_engine

# connection string: database://username:password@hostname:port/databasename
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [3]:
# Test connection
engine.connect()

In [4]:
# See DDL: Data Definition Language to manipulate object in SQL
df = pd.read_csv("../data/raw/csv/yellow_tripdata_head_2021-01.csv", parse_dates=["tpep_pickup_datetime", "tpep_dropoff_datetime"])
print(pd.io.sql.get_schema(df, name='yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

### CSV File

#### Test with single insertion

In [5]:
df_iter = pd.read_csv("../data/raw/csv/yellow_tripdata_2021-01.csv", parse_dates=["tpep_pickup_datetime", "tpep_dropoff_datetime"], iterator=True, chunksize=100000)

In [6]:
df = next(df_iter)
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [7]:
# Header
# df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

In [8]:
# Append the first chuck
# %time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

In [9]:
# Read db using pandas
# query = """
# SELECT * FROM yellow_taxi_data LIMIT 100;
# """
# pd.read_sql(query, con=engine)

#### Test with multiple insertion

In [10]:
chunksize = 100000
df_iter = pd.read_csv("../data/raw/csv/yellow_tripdata_2021-01.csv", parse_dates=["tpep_pickup_datetime", "tpep_dropoff_datetime"], iterator=True, chunksize=chunksize)

In [11]:
from time import time

batch = 0
for df_chuck in df_iter:
    t_start = time()
    df_chuck.to_sql(index=False, name="yellow_taxi_data", con=engine, if_exists="append")
    t_end = time()
    
    time_used = t_end - t_start
    print(f"Sucessfully inserted batch no.{batch}, took {time_used:.3f} seconds")
    
    batch += 1

Sucessfully inserted batch no.0, took 10.642 seconds
Sucessfully inserted batch no.1, took 10.491 seconds
Sucessfully inserted batch no.2, took 10.546 seconds
Sucessfully inserted batch no.3, took 11.277 seconds
Sucessfully inserted batch no.4, took 10.842 seconds
Sucessfully inserted batch no.5, took 10.560 seconds
Sucessfully inserted batch no.6, took 10.508 seconds
Sucessfully inserted batch no.7, took 11.272 seconds
Sucessfully inserted batch no.8, took 12.020 seconds
Sucessfully inserted batch no.9, took 11.547 seconds
Sucessfully inserted batch no.10, took 12.875 seconds
Sucessfully inserted batch no.11, took 11.910 seconds

/var/folders/_p/0dsy7jmx7gs42gstpf8y2sqh0000gn/T/ipykernel_78128/345504842.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  for df_chuck in df_iter:

Sucessfully inserted batch no.12, took 11.832 seconds
Sucessfully inserted batch no.13, took 629.204 seconds

In [12]:
# List tables
query = """
SELECT * FROM pg_catalog.pg_tables
WHERE schemaname != 'pg_catalog'
AND schemaname != 'information_schema';
"""
pd.read_sql(query, con=engine)

,schemaname,tablename,tableowner,tablespace,hasindexes,hasrules,hastriggers,rowsecurity
0,public,yellow_taxi_data,root,None,False,False,False,False

In [13]:
# Test query
query = """
SELECT * FROM yellow_taxi_data WHERE passenger_count < 5 AND trip_distance > 10;
"""
pd.read_sql(query, con=engine)

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.00,0.3,51.95,0.0
1,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.00,0.3,36.35,0.0
2,1,2021-01-01 00:37:40,2021-01-01 01:04:46,2,19.10,1,N,132,3,2,52.0,0.5,0.5,0.00,6.12,0.3,59.42,0.0
3,1,2021-01-01 00:24:30,2021-01-01 00:46:32,1,14.30,1,N,132,226,2,39.0,0.5,0.5,0.00,0.00,0.3,40.30,0.0
4,2,2021-01-01 00:19:57,2021-01-01 00:43:03,3,10.74,1,N,264,231,1,32.5,0.5,0.5,4.00,0.00,0.3,40.30,2.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
46314,1,2021-01-31 23:50:20,2021-02-01 00:17:55,2,11.10,1,N,138,143,1,32.5,3.0,0.5,7.64,6.12,0.3,50.06,2.5
46315,2,2021-01-31 23:02:02,2021-01-31 23:38:31,1,11.54,1,N,132,61,2,34.5,0.5,0.5,0.00,0.00,0.3,35.80,0.0
46316,1,2021-01-31 23:50:35,2021-02-01 00:21:55,1,11.70,1,N,138,49,1,34.0,0.5,0.5,8.80,0.00,0.3,44.10,0.0
46317,2,2021-01-31 23:41:04,2021-02-01 00:05:02,1,11.41,1,N,138,249,1,32.5,0.5,0.5,9.08,0.00,0.3,45.38,2.5
46318,2,2021-01-31 23:09:52,2021-01-31 23:51:56,2,10.56,1,N,56,68,1,37.5,0.5,0.5,0.00,6.12,0.3,44.92,0.0

#### Zone data

In [ ]:
zone_download = False

In [1]:
# !wget https://s3.amazonaws.com/nyc-tlc/misc/taxi+_zone_lookup.csv
# zone_download = True

In [5]:
zone_file = "taxi+_zone_lookup.csv" if zone_download else "../data/raw/csv/taxi+_zone_lookup.csv"
df_zones = pd.read_csv(zone_file)

In [6]:
df_zones.head()

   LocationID        Borough                     Zone service_zone
0           1            EWR           Newark Airport          EWR
1           2         Queens              Jamaica Bay    Boro Zone
2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
3           4      Manhattan            Alphabet City  Yellow Zone
4           5  Staten Island            Arden Heights    Boro Zone

In [7]:
df_zones.to_sql(index=False, name='zones', con=engine, if_exists='replace')

265